{% extends 'AdminPos/index.html' %}
{% load bootstrap4 %}
  <!-- Content Wrapper. Contains page content -->
  {% block body_block %}  
  <div class="content-wrapper">
   {% for message in messages %}
<div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add New Product Variance</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'accounts:index' %}">Home</a></li>
              <li class="breadcrumb-item active">Variance</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Product Variance</h3>
                </div>

<form class="form-horizontal" method="POST">
  {% csrf_token %}
    <div class='card-body'>
    {% bootstrap_form form %}
    </div>
    <!-- Button -->
    
    <div class="card-footer">
       <button name="singlebutton" type="submit" class="btn btn-primary">Publish</button>
        <button name="singlebutton" class="btn btn-danger">Delete</button>
      </div>
    
    </fieldset>
    </form>
</div>
</section>

</div>
<!-- /.content-wrapper -->

{% endblock %}


<!-- jQuery -->
 {% block js %}
 {% load static %}
<!-- bs-custom-file-input -->
<script src="{% static '/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '/plugins/select2/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
bsCustomFileInput.init();
});

$(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })}
</script>
{% endblock %}
